<div class="container">
	<div class="header-wrap">
		<div class="logo">
			FastRent
		</div>
		<nav class="nav-menu">
			<ul class="navbar">
				<li><a href="#">Log in</a></li>
				<li><a href="#">Sign up</a></li>
			</ul>
		</nav>
	</div>
</div>	