<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fast-Car-Rent</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
</head>
<body>

	<div className="app">
		
		<header>
			{{> header }}
		</header>
		

		<div id="content">
			{{{ body }}}
		</div>

		<footer>
			
		</footer>

	</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>