<div class="container">
	<h1 class="heading">Welcome to FastRent</h1>
	<p>Choose pick up and drop off date</p>
	<form action="/search">
		<input type="date">
		<input type="date">
		<button type="submit">GO</button>
	</form>
</div>

